<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма заполнения</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Помощник исследовательских работ</h1>
    </header>
    <main>
        <section id="intro">
            <h2>Описание</h2>
            <p>Создайте документы для ваших исследовательских работ, используя наш шаблоны.</p>
            <a href="#documentForm"><button id="startButton">Начать</button></a>
        </section>
        <section id="generate" >
            <div class="container">
                <h2>Создание документа</h2>
                <form method="post" id="documentForm">
                    <input type="text" name="topic" placeholder="Тема" required>
                    <input type="text" name="fio" placeholder="ФИО" required>
                    <input type="text" name="class" placeholder="Класс" required>
                    <input type="text" name="char" placeholder="Характеристика" required>
                    <input type="text" name="UCH" placeholder="ФИО учителя" required>
                    <input type="text" name="post" placeholder="Должность" required>
                    <input type="text" name="year" placeholder="Год" required>
                    <textarea name="intro" placeholder="Введение" rows="4" required></textarea>
                    <textarea name="relevance" placeholder="Актуальность" rows="4" required></textarea>
                    <textarea name="purposes" placeholder="Цели" rows="4" required></textarea>
                    <textarea name="tasks" placeholder="Задачи" rows="4" required></textarea>
                    <button type="submit">Сгенерировать документ</button>
                </form>
            </div>
        </section>
        <section id="resources"></section>
            <h2>Полезные ресурсы</h2>
            <p>Ссылка на статьи и видеоуроки по написанию исследовательских работ.</p>
        </section>
    </main>

    <footer>
        <p>© 2023 ResearchDocHelper. Все права защищены.</p>
    </footer>
</body>
</html>
